#menu a {
	background: url(bttxiqp_0.png);
	background-repeat:no-repeat;
	margin-left: 2px;
	padding-top:10px;
	padding-right:22px;
	padding-bottom:15px;
	text-decoration: none;
	text-align: center;
	text-transform: lowercase;
	font-family: 標楷體;
	font-weight: normal;
	font-size: 17px;
	color: #FFFFFF;
}

#menu a:hover {
	background: url(bttxiqp_1.png);
	background-repeat:no-repeat;
	color: #FFFFFF;
}

ul.vbULtxiqp {
  position: absolute;
  visibility: hidden;
}
.vbULtxiqp {
  position: absolute;
  visibility: hidden;
  display: block;
  overflow: auto;
  font-size: 1px;
  padding: 1px;
  margin: 0px;
  border: 1px solid #1F1F1F;
  background-color: #6A6A6A;
  opacity:1.00;
  filter:progid:DXImageTransform.Microsoft.Alpha(opacity=100);
}
.vbULtxiqp table {
  border-collapse: separate;
  border-spacing: 0px;
}
.vbULtxiqp tr {
  font-size: 1px;
  cursor: pointer;
  background-color: #EAEAEA;  
}
.vbULtxiqp tr.over {
  background-color: #CFCFCF;
}
.vbULtxiqp td {
  border: 1px solid #AEAEAE;
  padding: 4px;
  text-align: left;
}
.vbULtxiqp tr.over td {
  border-color: #666666;
}
.vbULtxiqp td a, .vbULtxiqp td span{
  font-family: Tahoma;
  font-size: 11px;
  font-style: normal;
  font-weight: normal;
  color: #464646;
  text-decoration: none;
}
.vbULtxiqp tr.over a, .vbULtxiqp tr.over span {
  font-family: Tahoma;
  font-size: 11px;
  font-style: normal;
  font-weight: normal;
  color: #2C2C2C;
  text-decoration: none;
}
.vbULtxiqp tr.popup {
  background-color: #CFCFCF;
}
.vbULtxiqp tr.popup td {
  border-color: #666666;
}
.vbULtxiqp tr.popup a, .vbULtxiqp tr.popup a{
  font-family: Tahoma;
  font-size: 11px;
  font-style: normal;
  font-weight: normal;
  color: #2C2C2C;
  text-decoration: none;
}
