#menu a {
	background: url(btbrown_0.png);
	background-repeat:no-repeat;
	margin-left: 2px;
	padding-top:14px;
	padding-right:23px;
	padding-bottom:15px;
	text-decoration: none;
	text-align: center;
	text-transform: lowercase;
	font-family: 標楷體;
	font-weight: normal;
	font-size: 17px;
	color: #FFFFFF;
}

#menu a:hover {
	background: url(btbrown_1.png);
	background-repeat:no-repeat;
	color: #FFFFFF;
}

ul.vbUL3gw5a {
  position: absolute;
  visibility: hidden;
}
.vbUL3gw5a {
  position: absolute;
  visibility: hidden;
  display: block;
  overflow: auto;
  font-size: 1px;
  padding: 3px;
  margin: 0px;
  border: 1px solid #C0AF62;
  background-color: #FCEEB0;
  opacity:1.00;
  filter:progid:DXImageTransform.Microsoft.Alpha(opacity=100);
}
.vbUL3gw5a table {
  border-collapse: separate;
  border-spacing: 0px;
}
.vbUL3gw5a tr {
  font-size: 1px;
  cursor: pointer;
  background-color: #FCEEB0;
}
.vbUL3gw5a tr.over {
  background-color: #65BDDC;
}
.vbUL3gw5a td {
  border: 1px solid #FCEEB0;
  padding: 3px;
  text-align: left;
}
.vbUL3gw5a tr.over td {
  border-color: #4C99AB;
}
.vbUL3gw5a td a, .vbUL3gw5a td span{
  font-family: Trebuchet MS, Tahoma;
  font-size: 11px;
  font-style: normal;
  font-weight: normal;
  color: #000000;
  text-decoration: none;
}
.vbUL3gw5a tr.over a, .vbUL3gw5a tr.over span {
  font-family: Trebuchet MS, Tahoma;
  font-size: 11px;
  font-style: normal;
  font-weight: normal;
  color: #FFFFFF;
  text-decoration: none;
}
.vbUL3gw5a tr.popup {
  background-color: #65BDDC;
}
.vbUL3gw5a tr.popup td {
  border-color: #4C99AB;
}
.vbUL3gw5a tr.popup a, .vbUL3gw5a tr.popup a{
  font-family: Trebuchet MS, Tahoma;
  font-size: 11px;
  font-style: normal;
  font-weight: normal;
  color: #FFFFFF;
  text-decoration: none;
}
