<?xml version="1.0" encoding="ISO-8859-1"?>

<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_4_0.xsd"
    version="4.0">

<!-- servlet mappings start -->
  <servlet>
    <servlet-name>TarokoSystem</servlet-name>
    <servlet-class>taroko.com.MainControl</servlet-class>
    <init-param>
      <param-name>web-data-file</param-name>
      <param-value>/cr/EcsWeb/data</param-value>
    </init-param>
  </servlet>

  <servlet-mapping>
    <servlet-name>TarokoSystem</servlet-name>
    <url-pattern>/MainControl</url-pattern>
  </servlet-mapping>

  <welcome-file-list>
    <welcome-file>MainControl</welcome-file>
  </welcome-file-list>
  
    <error-page>
    <error-code>404</error-code>
    <location>/html/taroko/com/http404Error.html</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/html/taroko/com/http500Error.html</location>
  </error-page>
</web-app>
