/*checkbox & redio button styles for cmsqXXXX 20200825*/

input[type="radio"] {
  display: none;
}
input[type="radio"] + label:before {
  content: '\3007';
  font-size: 1em;
}
input[type="radio"]:checked + label:before {
  content: '\29BF';  /*26AB,25CF*/
  font-size: 1em;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] + label:before {
  content: '\2610';
  font-size: 1.2em;
}

input[type="checkbox"]:checked + label:before {
  content: '\2611';
  font-size: 1.2em;
}