th
{
	
  /*FONT-FAMILY:"新細明體";*/
  /*FONT-SIZE: 18px;*/
  /*color:black;*/
  /*--
  BORDER-RIGHT:  silver 1px inset;
  BORDER-TOP:    white  1px outset;
  BORDER-LEFT:   white  1px outset;
  BORDER-BOTTOM: silver 1px inset;
  BACKGROUND-COLOR: #DBFA94;
  FONT-FAMILY:"Arial", "Helvetica", "sans-serif";
  FONT-SIZE: 10pt;
  TEXT-ALIGN: RIGHT;
  font-weight: normal;
  color:#006633;
  VALIGN:MIDDLE;
  background: url(../images/img01.jpg);
  --*/
  /*-JH-------------------*/
  BORDER-RIGHT:  silver 1px inset;
  BORDER-TOP:    white  1px outset;
  BORDER-LEFT:   white  1px outset;
  BORDER-BOTTOM: silver 1px inset;
  TEXT-ALIGN: center;
  color:white;
  FONT-FAMILY: "Consolas", "Microsoft Sans Serif" , "Arial", "新細明體", "DFKai-SB";
  FONT-SIZE:  12pt;
  font-weight: bold; /*normal;*/
  background: url(../images/img06.gif);
}

th.unsortable 
{
	TEXT-ALIGN: center;
   color:white;
	background: url(../images/img06.gif);
}

th.sortnumber {
	TEXT-ALIGN: center;
	color:white;
	background: url(../images/img06.gif);
}

.DescTitle
{
  TEXT-ALIGN: center;
  color:blue;
  font-weight: normal;
  background: url(../images/img07.gif);
}

.td_right
{
  BORDER-RIGHT: lightgrey 1px outset;
  BORDER-TOP:   white 1px outset;
  BORDER-LEFT:  white 1px outset;
  BORDER-BOTTOM: lightgrey 1px outset;
  FONT-FAMILY: "Arial", "Helvetica", "sans-serif";
  /* FONT-SIZE:  15px; */
  FONT-SIZE:  12pt;
  TEXT-ALIGN: RIGHT;
  color:blue;
  bordercolorlight:"#000000";
  bordercolordark:"#eeeeee";
}

.td_center
{
  BORDER-RIGHT: lightgrey 1px outset;
  BORDER-TOP:   white 1px outset;
  BORDER-LEFT:  white 1px outset;
  BORDER-BOTTOM: lightgrey 1px outset;
  /* FONT-FAMILY: "Arial", "Helvetica", "sans-serif"; */
  /* FONT-SIZE:  15px; */
  FONT-FAMILY:  "Consolas", "Microsoft Sans Serif" , "Arial", "新細明體", "DFKai-SB";
  FONT-SIZE:  12pt;
  TEXT-ALIGN: CENTER;
  color:blue;
  bordercolorlight:"#000000";
  bordercolordark:"#eeeeee";
}

.td_left
{
  BORDER-RIGHT: lightgrey 1px outset;
  BORDER-TOP:   white 1px outset;
  BORDER-LEFT:  white 1px outset;
  BORDER-BOTTOM: lightgrey 1px outset;
  /* FONT-FAMILY: "Arial", "Helvetica", "sans-serif"; */
  /* FONT-SIZE:  15px; */
  FONT-FAMILY: "Consolas", "Microsoft Sans Serif" , "Arial", "新細明體", "DFKai-SB";
  FONT-SIZE:  12pt;
  TEXT-ALIGN: LEFT;
  color:blue;
  bordercolorlight:"#000000";
  bordercolordark:"#eeeeee";
}

.td_pink
{
  BORDER-RIGHT: lightgrey 1px outset;
  BORDER-TOP:   white 1px outset;
  BORDER-LEFT:  white 1px outset;
  BORDER-BOTTOM: lightgrey 1px outset;
  BACKGROUND-COLOR: #FFD2FF;
/*   FONT-FAMILY: "Arial", "Helvetica", "sans-serif"; */
  /* FONT-SIZE:  15px; */
  FONT-FAMILY: "Consolas", "Microsoft Sans Serif" , "Arial", "新細明體", "DFKai-SB";
  FONT-SIZE:  12pt;
  TEXT-ALIGN: center;
  color:blue;
  bordercolorlight:"#000000";
  bordercolordark:"#eeeeee";
}

.none
{
  BORDER-RIGHT: lightgrey 0px outset;
  BORDER-TOP:   white 0px outset;
  BORDER-LEFT:  white 0px outset;
  BORDER-BOTTOM: lightgrey 0px outset;
  BACKGROUND-COLOR: #F9FCB8;
/*   FONT-FAMILY: "Arial", "Helvetica", "sans-serif";
  FONT-SIZE:  15px; */
  FONT-FAMILY: "Consolas", "Microsoft Sans Serif" , "Arial", "新細明體", "DFKai-SB";
  FONT-SIZE:  12pt;
  TEXT-ALIGN: left;
  color:blue;
  bordercolorlight:"#000000";
  bordercolordark:"#eeeeee";
}
/*--Button================================================*/
.btQuery {
  background-color:#E0FFA3;	height:30;	cursor:hand;
  FONT-FAMILY: "Consolas", "Microsoft Sans Serif" , "Arial", "新細明體", "DFKai-SB";
  FONT-SIZE:  12pt;
}

.btAdd {
  background-color:#C2E0FF;	height:30;	cursor:hand;
  FONT-FAMILY: "Consolas", "Microsoft Sans Serif" , "Arial", "新細明體", "DFKai-SB";
  FONT-SIZE:  12pt;
}

.btOther {
  background-color:Green;	color:White; height:25; cursor:hand;
  FONT-FAMILY: "Consolas", "Microsoft Sans Serif" , "Arial", "新細明體", "DFKai-SB";
  FONT-SIZE:  12pt;
}
.btOther2 {
  background-color:rgb(102, 153, 255);	color:White; height:30; cursor:hand;
  FONT-FAMILY: "Consolas", "Microsoft Sans Serif" , "Arial", "新細明體", "DFKai-SB";
  FONT-SIZE:  12pt;
}

.btUpdate {
	background-color:#E6E680;	height:30;	cursor:hand;
  FONT-FAMILY: "Consolas", "Microsoft Sans Serif" , "Arial", "新細明體", "DFKai-SB";
  FONT-SIZE:  12pt;
}

.btDelete {
	background-color:#FFBD5C;	height:30;	cursor:hand;
  FONT-FAMILY: "Consolas", "Microsoft Sans Serif" , "Arial", "新細明體", "DFKai-SB";
  FONT-SIZE:  12pt;
}

.btConfirm {
	background-color:#cbd2f8;	height:30;	cursor:hand;
  FONT-FAMILY: "Consolas", "Microsoft Sans Serif" , "Arial", "新細明體", "DFKai-SB";
  FONT-SIZE:  12pt;
}

.btProcess{
  background-color:#cbd2f8;	height:30;	cursor:hand;
  FONT-FAMILY: "Consolas", "Microsoft Sans Serif" , "Arial", "新細明體", "DFKai-SB";
  FONT-SIZE:  12pt;
}


.btBrowse {
  background-color:#FFCCB2;	height:30;	cursor:hand;
  FONT-FAMILY: "Consolas", "Microsoft Sans Serif" , "Arial", "新細明體", "DFKai-SB";
  FONT-SIZE:  12pt;
}

.btClear {
  background-color:#C0D8C0;	height:30;	cursor:hand;
  FONT-FAMILY: "Consolas", "Microsoft Sans Serif" , "Arial", "新細明體", "DFKai-SB";
  FONT-SIZE:  12pt;
}

.btAdd_detl {
   color: white; background-color:  green; /*#C2E0FF*/ 	
	height:25; cursor:hand;
  FONT-FAMILY: "Consolas", "Microsoft Sans Serif" , "Arial", "新細明體", "DFKai-SB";
  FONT-SIZE:  12pt;
}
/*--<<<<<=============================================================*/

.help_style {
  FONT-FAMILY:   "Helvetica", "sans-serif"; 
  FONT-SIZE: 18px;
  color: blue;
  TEXT-ALIGN: left;
}

#buttonDiv a {
	background: url(../images/sumit_dark.gif);
	background-repeat:no-repeat;
	padding-left:25px;
	padding-top:5px;
	font-family: 細明體;
	font-weight: normal;
	font-size: 15px;
	color: #FFFFFF;
}

#buttonDiv a:hover {
	background: url(../images/sumit_light.gif);
	background-repeat:no-repeat;
	color: #FFFFFF;
}

.EditData
{
  BORDER-RIGHT:  lightgrey 1px outset;
  BORDER-TOP:    white 1px outset;
  BORDER-LEFT:   white 1px outset;
  BORDER-BOTTOM: lightgrey 1px outset;
  BACKGROUND-COLOR:#F8F9FE;
/*   FONT-FAMILY: "Arial", "Helvetica", "sans-serif";
  FONT-SIZE:  12pt; */
  FONT-FAMILY: "Consolas", "Microsoft Sans Serif" , "Arial", "新細明體", "DFKai-SB";
  FONT-SIZE:  12pt;
  color: blue;
  TEXT-ALIGN: left;
}

.EditData2
{
  BACKGROUND-COLOR: white;
  /* FONT-SIZE:  15px; */
  FONT-FAMILY: "Consolas", "Microsoft Sans Serif" , "Arial", "新細明體", "DFKai-SB";
  FONT-SIZE:  12pt;
  color: black;
  TEXT-ALIGN: left;
}

.EditDataR
{
  BORDER-RIGHT:  lightgrey 1px outset;
  BORDER-TOP:    white 1px outset;
  BORDER-LEFT:   white 1px outset;
  BORDER-BOTTOM: lightgrey 1px outset;
  FONT-FAMILY: "Consolas", "Microsoft Sans Serif" , "Arial", "新細明體", "DFKai-SB";
  FONT-SIZE:  12pt;
  TEXT-ALIGN: right;
  bordercolorlight:"#000000";
  bordercolordark:"#eeeeee";
}


.field_style2 {
	BORDER-RIGHT: #999999 1px solid;
	BORDER-TOP: #999999 1px solid;
	BORDER-LEFT: #999999 1px solid;
	BORDER-BOTTOM: #999999 1px solid;
  FONT-FAMILY: "Consolas", "Microsoft Sans Serif" , "Arial", "新細明體", "DFKai-SB";
  FONT-SIZE:  12pt;
	color:blue;
	padding-left:4px;
	background-image:url(../images/inpbg.gif);
	color:#0044cc;
}

.field_style3 {
	background-color:#FFFFE1;
  FONT-FAMILY: "Consolas", "Microsoft Sans Serif" , "Arial", "新細明體", "DFKai-SB";
  FONT-SIZE:  12pt;
	color:blue;
	font-weight: bold;
	border:2px inset;
}

/*--JH-add------------------------------------------------------------*/
.list_header
{
  TEXT-ALIGN: center;
  color:white;
  FONT-FAMILY: "Consolas", "Microsoft Sans Serif" , "Arial", "新細明體", "DFKai-SB";
  FONT-SIZE:  12pt;
  font-weight: bold; /*normal;*/
  background: url(../images/img06.gif);
}
.list_data
{
  /*BORDER-RIGHT: lightgrey 1px outset;
  BORDER-TOP:   white 1px outset;
  BORDER-LEFT:  white 1px outset;
  BORDER-BOTTOM: lightgrey 1px outset;
  */
	border: 1px solid #C0C0C0;
	padding: 2px;
	color: blue;
	letter-spacing: normal;
  FONT-FAMILY: "Consolas", "Microsoft Sans Serif" , "Arial", "新細明體", "DFKai-SB";
  FONT-SIZE:  12pt;
	background-color: #FFFFFF;
}

.td_text
{ 
	background-color: #f1f5fe; /*e3fdf0; #f1f5fe; #C7D9FC;*/
	border: #95BECF 1px solid;
	color: #002040; /*#003366;*/
  FONT-FAMILY: "Consolas", "Microsoft Sans Serif" , "Arial", "新細明體", "DFKai-SB";
  FONT-SIZE:  12pt;
	letter-spacing: 1px;
	text-align: right;
	padding-left: 10px;
	padding-right: 5px;
}
.td_text2
{ 
	background-color: white; /*e3fdf0; #f1f5fe; #C7D9FC;*/
	border: #95BECF 1px solid;
	color: #0000a0; /*#002040, #003366;*/
  FONT-FAMILY: "Consolas", "Microsoft Sans Serif" , "Arial", "新細明體", "DFKai-SB";
  FONT-SIZE:  12pt;
	font-weight: bold;
	letter-spacing: 1px;
	text-align: left;
	padding-left: 10px;
	padding-right: 5px;

}

.td_textC
{
	background-color: #f1f5fe; /*#C7D9FC;*/
	border: #95BECF 1px solid;
	color: #003366;
  FONT-FAMILY: "Consolas", "Microsoft Sans Serif" , "Arial", "新細明體", "DFKai-SB";
  FONT-SIZE:  12pt;
	letter-spacing: 1px;
	text-align: center;
	padding: 3px;
}
.td_data
{
	border: #acc7a5 1px solid;
	letter-spacing: 1px;
	line-height: 130%;
	padding: 3px;
  FONT-FAMILY: "Consolas", "Microsoft Sans Serif" , "Arial", "新細明體", "DFKai-SB";
  FONT-SIZE:  12pt;
}
.td_dataC
{
	border: #acc7a5 1px solid;
	letter-spacing: 1px;
	line-height: 130%;
	padding: 3px;
  FONT-FAMILY: "Consolas", "Microsoft Sans Serif" , "Arial", "新細明體", "DFKai-SB";
  FONT-SIZE:  12pt;
	text-align: center;
}
.td_dataR
{
	border: #acc7a5 1px solid;
	letter-spacing: 1px;
	line-height: 130%;
	padding: 3px;
   FONT-FAMILY: "Consolas", "Microsoft Sans Serif" , "Arial", "新細明體", "DFKai-SB";
   FONT-SIZE:  12pt;
	text-align: right;
}
.td_title
{
   background-color: #eeeeee; /*#C7D9FC;*/
   color: #008080; /*#003366;*/ 
	border: #acc7a5 1px solid;
	letter-spacing: 1px;
	line-height: 130%;
	padding: 3px;
   FONT-FAMILY: "Consolas", "Microsoft Sans Serif" , "Arial", "新細明體", "DFKai-SB";
   FONT-SIZE:  12pt;
}
.td_titl
{
   background-color: #eeeeee; /*#C7D9FC;*/
   color: #0000a0; /*#003366;*/
	border: #acc7a5 1px solid;
	letter-spacing: 1px;
	line-height: 130%;
	padding: 3px;
   FONT-FAMILY: "Consolas", "Microsoft Sans Serif" , "Arial", "新細明體", "DFKai-SB";
   FONT-SIZE:  12pt;
	text-align: center;
}
.td_remark
{
   background-color: #e4e4e4;
   color: #800000; 
	border: #acc7a5 1px solid;
	letter-spacing: 1px;
	line-height: 130%;
	padding: 3px;
   FONT-FAMILY: "Consolas", "Microsoft Sans Serif" , "Arial", "新細明體", "DFKai-SB";
   FONT-SIZE:  12pt;
}

.td_header
{
  TEXT-ALIGN: center;
  color:white;
  font-weight: normal;
  background: url(../images/img03.gif);
}

.col_text
{
   padding-left: 6px;
	/* padding: 0px 3px 1px 3px; */
   FONT-FAMILY: "Consolas", "Microsoft Sans Serif" , "Arial", "新細明體", "DFKai-SB";
   FONT-SIZE:  12pt;
	margin: 0px;
	background-color: #FFFFFF;
	text-transform: uppercase;
	border-top-style: none;
	border-bottom: black 1px solid;
	border-right-style: none;
	border-left-style: none;
   ime-mode: disabled;  /* auto | active | inactive | disabled */
/*
	border:2px inset;
*/
}
.col_any
{
   padding-left: 6px;
	/* padding: 0px 3px 1px 3px; */
   FONT-FAMILY: "Consolas", "Microsoft Sans Serif" , "Arial", "新細明體", "DFKai-SB";
   FONT-SIZE:  12pt;
	margin: 0px;
	background-color: #FFFFFF;
	border-top-style: none;
	border-bottom: black 1px solid;
	border-right-style: none;
	border-left-style: none;
/*
	BORDER-RIGHT: #999999 1px solid;
	BORDER-TOP: #999999 1px solid;
	BORDER-LEFT: #999999 1px solid;
	BORDER-BOTTOM: #999999 1px solid;
*/
}
.col_upper
{
   padding-left: 6px;
	/* padding: 0px 3px 1px 3px; */
  FONT-FAMILY: "Consolas", "Microsoft Sans Serif" , "Arial", "新細明體", "DFKai-SB";
  FONT-SIZE:  12pt;
	margin: 0px;
	background-color: #FFFFFF;
	text-transform: uppercase;
	color: #000000;
	border-top-style: none;
	border-bottom: black 1px solid;
	border-right-style: none;
	border-left-style: none;
   ime-mode: disabled;  /* auto | active | inactive | disabled */
}
.col_number
{
   padding-left: 6px;
	/* padding: 0px 3px 1px 3px; */
  FONT-FAMILY: "Consolas", "Microsoft Sans Serif" , "Arial", "新細明體", "DFKai-SB";
  FONT-SIZE:  12pt;
	margin: 0px;
	background-color: #FFFFFF;
	text-align: right;
	border-top-style: none;
	border-bottom: black 1px solid;
	border-right-style: none;
	border-left-style: none;
   ime-mode: disabled;  /* auto | active | inactive | disabled */
}
.col_date
{
   padding-left: 6px;
	/* padding: 0px 3px 1px 3px; */
  FONT-FAMILY: "Consolas", "Microsoft Sans Serif" , "Arial", "新細明體", "DFKai-SB";
  FONT-SIZE:  12pt;
	margin: 0px;
	text-align: center;
	background-color: #FFFFFF;
	border-top-style: none;
	border-bottom: black 1px solid;
	border-right-style: none;
	border-left-style: none;
   ime-mode: disabled;  /* auto | active | inactive | disabled */
}
.col_ckbox
{
   padding-left: 2px;
	font-size: 12pt; */
  FONT-FAMILY: "Consolas", "Microsoft Sans Serif" , "Arial", "新細明體", "DFKai-SB";
  FONT-SIZE:  12pt;
	font-weight: bold; 
	color: blue;
	padding-right: 3px;
	padding-bottom: 1px;
	padding-left: 3px;
}
.col_radio
{
   padding-left: 2px;
	font-size: 12pt; */
  FONT-FAMILY: "Consolas", "Microsoft Sans Serif" , "Arial", "新細明體", "DFKai-SB";
  FONT-SIZE:  12pt;
	font-weight: bold; 
	color: blue;
	padding-right: 3px;
	padding-bottom: 1px;
	padding-left: 3px;
}
.col_ddlb
{
   padding-left: 6px;
  FONT-FAMILY: "Consolas", "Microsoft Sans Serif" , "Arial", "新細明體", "DFKai-SB";
  FONT-SIZE:  12pt;
	color: black;
	background-color: #FFFFFF;
	margin: 0px;
	border-top: none;
	border-bottom: black 1px solid;
	border-left: none;
	border-right: none;
}
.col_label
{
   padding-left: 6px; 
   padding-right: 4px; 
	border-style: none;
	color: #000000;
	background-color: #FFFFFF;
	/* font-family: "細明體", "Microsoft Sans Serif" , "Arial"; */
/* 	font-family: "Arial", "Helvetica", "sans-serif";
	font-size: 12pt; */
  FONT-FAMILY: "Consolas", "Microsoft Sans Serif" , "Arial", "新細明體", "DFKai-SB";
  FONT-SIZE:  12pt;
	padding-right: 3px;
	padding-bottom: 1px;
	padding-left: 3px;
}

.dsp_text
{
	border-style: none;
   padding-left: 6px; 
   padding-right: 4px; 
	/* padding: 0px 3px 1px 3px; */
	color:  Blue; /*Black;*/
	/* font-family: "細明體", "Microsoft Sans Serif" , "Arial"; */
/* 	font-family: "Arial", "Helvetica", "sans-serif";
	font-size: 12pt; */
  FONT-FAMILY: "Consolas", "Microsoft Sans Serif" , "Arial", "新細明體", "DFKai-SB";
  FONT-SIZE:  12pt;
	background-color: #FFFAEC;
}
.dsp_date
{
	border-style: none;
   padding-left: 6px; 
   padding-right: 4px; 
	/* padding: 0px 3px 1px 3px; */
	color:  Blue; /*Black;*/
  FONT-FAMILY: "Consolas", "Microsoft Sans Serif" , "Arial", "新細明體", "DFKai-SB";
  FONT-SIZE:  12pt;
	background-color: #FFFAEC;
	text-align: center;
}
.dsp_number
{
	border-style: none;
   padding-left: 6px; 
   padding-right: 4px; 
	/* padding: 0px 3px 1px 3px; */
	color:  Blue; /*Black;*/
  FONT-FAMILY: "Consolas", "Microsoft Sans Serif" , "Arial", "新細明體", "DFKai-SB";
  FONT-SIZE:  12pt;
	background-color: #FFFAEC;
	text-align: right;
}

.dsp_remark
{
   /* background-color: #e4e4e4; */
	color:  #800000; /*Black;*/
	border-style: none;
   padding-left: 6px; 
   padding-right: 4px; 
	/* padding: 0px 3px 1px 3px; */
  FONT-FAMILY: "Consolas", "Microsoft Sans Serif" , "Arial", "新細明體", "DFKai-SB";
  FONT-SIZE:  10pt;
}

.err_msg
{
   /* background-color: #e4e4e4; */
	color:  red; /*Black;*/
  FONT-FAMILY: "Microsoft Sans Serif" , "Arial", "新細明體", "DFKai-SB";
  FONT-SIZE:  12pt;
}

.col_requ
{
	font-size: 12pt;
	line-height: 12pt;
	color: #FF0000;
	padding-right: 3px;
	padding-bottom: 1px;
	padding-left: 3px;
}

.dsp_flag
{
  	color: Red; /*Brown;*/
	font-weight: bold;
}

.col_key
{
/* 	font-size: 14pt;
	color: red;
	padding-right: 2px;
	padding-bottom: 1px;
	padding-left: 2px; */
  	color: Red; /*Brown;*/
	font-weight: bold;
	text-align: left;
	padding-right: 0.6em;
   white-space: nowrap;
}
/* .colKey {
	color: Red; 
	font-weight: bold;
	text-align: left;
	padding-right: 0.6em;
   white-space: nowrap;
}
 */
 
.list_title
{
  BORDER-RIGHT: lightgrey 1px outset;
  BORDER-TOP:   white 1px outset;
  BORDER-LEFT:  white 1px outset;
  BORDER-BOTTOM: lightgrey 1px outset;
  TEXT-ALIGN: center;
  color: blue;
  font-size: 12pt;
  background-color: #E0E0E0;
  bordercolorlight: #000000;
  bordercolordark: #eeeeee;
}

.td_rowno
{
  BORDER-RIGHT: lightgrey 1px outset;
  BORDER-TOP:   white 1px outset;
  BORDER-LEFT:  white 1px outset;
  BORDER-BOTTOM: lightgrey 1px outset;
  FONT-FAMILY: "Consolas", "Microsoft Sans Serif" , "Arial", "新細明體", "DFKai-SB";
  FONT-SIZE:  12pt;
  TEXT-ALIGN: CENTER;
  color:black;
  bordercolorlight:"#000000";
  bordercolordark:"#eeeeee";
}

.td_null {
   background-color: #FFFFFF;
}

.list_th {
   /*
	padding: 2px;
	*/
	background-color: #CBE9F5;
	border-bottom: #abd0e0 1px solid;
	border-left: #abd0e0 1px solid;
	border-right: #abd0e0 1px solid;
	border-top: #abd0e0 1px solid;
	color: white; /*#2C2C85;  */
/* 	font-family: "新細明體" , "Microsoft Sans Serif" , "Arial";
	font-size: 10pt; */
  FONT-FAMILY:  "Consolas", "Microsoft Sans Serif" , "Arial", "新細明體", "DFKai-SB";
  FONT-SIZE:  12pt;
	letter-spacing: normal;
	text-align: center;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 2px;
	padding-bottom: 2px;
}
.list_rr {
  BORDER-RIGHT: lightgrey 1px outset;
  BORDER-TOP:   white 1px outset;
  BORDER-LEFT:  white 1px outset;
  BORDER-BOTTOM: lightgrey 1px outset;
/*   FONT-FAMILY: "Arial", "Helvetica", "sans-serif";
  FONT-SIZE:  12pt; */
  FONT-FAMILY: "Consolas", "Microsoft Sans Serif" , "Arial", "新細明體", "DFKai-SB";
  FONT-SIZE:  12pt;
  TEXT-ALIGN: RIGHT;
  /*
  color:blue;
  bordercolorlight:"#000000";
  bordercolordark:"#eeeeee";
  */
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.list_cc {
  BORDER-RIGHT: lightgrey 1px outset;
  BORDER-TOP:   white 1px outset;
  BORDER-LEFT:  white 1px outset;
  BORDER-BOTTOM: lightgrey 1px outset;
/*   FONT-FAMILY: "Arial", "Helvetica", "sans-serif";
  FONT-SIZE:  12pt; */
  FONT-FAMILY: "Consolas", "Microsoft Sans Serif" , "Arial", "新細明體", "DFKai-SB";
  FONT-SIZE:  12pt;
  TEXT-ALIGN: CENTER;
  /*
  color:blue;
  bordercolorlight:"#000000";
  bordercolordark:"#eeeeee";
  */
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.list_ll {
  BORDER-RIGHT: lightgrey 1px outset;
  BORDER-TOP:   white 1px outset;
  BORDER-LEFT:  white 1px outset;
  BORDER-BOTTOM: lightgrey 1px outset;
/*   FONT-FAMILY: "Arial", "Helvetica", "sans-serif";
  FONT-SIZE:  12pt; */
  FONT-FAMILY: "Consolas", "Microsoft Sans Serif" , "Arial", "新細明體", "DFKai-SB";
  FONT-SIZE:  12pt;
  TEXT-ALIGN: LEFT;
  /*
  color:blue;
  bordercolorlight:"#000000";
  bordercolordark:"#eeeeee";
  */
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.list_no {
  BORDER-RIGHT: lightgrey 1px outset;
  BORDER-TOP:   white 1px outset;
  BORDER-LEFT:  white 1px outset;
  BORDER-BOTTOM: lightgrey 1px outset;
  FONT-FAMILY: "Consolas", "Microsoft Sans Serif" , "Arial", "新細明體", "DFKai-SB";
  FONT-SIZE:  12pt;
  TEXT-ALIGN: CENTER;
  color:blue;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
   background-color: #EFEFEF;
}

.list_td {
   background-color: #EFEFEF;
  BORDER-RIGHT: lightgrey 1px outset;
  BORDER-TOP:   white 1px outset;
  BORDER-LEFT:  white 1px outset;
  BORDER-BOTTOM: lightgrey 1px outset;
/*   FONT-FAMILY: "Arial", "Helvetica", "sans-serif";
  FONT-SIZE:  12pt; */
  FONT-FAMILY: "Consolas", "Microsoft Sans Serif" , "Arial", "新細明體", "DFKai-SB"
  FONT-SIZE:  12pt;
  TEXT-ALIGN: CENTER;
  /*
  color:blue;
  bordercolorlight:"#000000";
  bordercolordark:"#eeeeee";
  */
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 2px;
	padding-bottom: 2px;
}

#condBlock {
	position: relative;
   width: 100%;
	margin-left: auto;
	margin-right: auto;
}

#condBlock table {
	/* background-color: #EFEFEF; */ /*F5F5F5,#EEEECC;*/
	background-color: hsla(0,0%,80%,0.3);
	margin-left: 20px;
	padding-top: 0.2em;
	padding-bottom: 0.2em;
	padding-left: 1.2em;
	padding-right: 0.6em;
	color: Navy; /*006AD5; steelblue;*/
	text-align: left;
	white-space: nowrap;
	FONT-FAMILY: "Consolas", "Microsoft Sans Serif" , "Arial", "新細明體", "DFKai-SB";
   FONT-SIZE:  12pt;
	/* width: 600; */
}
#condBlock td {
/* 	padding-left: 2px; */
	border: 1px solid #C0C0C0;
	padding: 2px;
}

#dataBlock {
	position: relative;
   width: 100%;
	margin-left: auto;
	margin-right: auto;
}
#dataBlock table {
	/* background-color: #EFEFEF; */ /*F5F5F5,#EEEECC;*/
  /*  background-color: hsla(220,80%,80%,0.2); */
   background-color: rgba(163,190,245,0.2);
	margin-left: 20px;
	padding-top: 0.2em;
	padding-bottom: 0.2em;
	padding-left: 1.2em;
	padding-right: 0.6em;
/*	
	margin-left: auto;
	margin-right: auto;
   width: 100%; 
	font-weight: bold; 
	padding: 0.2em 0.2em 1.2em 0.6em;
*/
	color: Navy; /*006AD5; steelblue;*/
	text-align: left;
	white-space: wrap;
	border-spacing: 1px;
  FONT-FAMILY: "Consolas", "Microsoft Sans Serif" , "Arial", "新細明體", "DFKai-SB";
  FONT-SIZE:  12pt;
}
#dataBlock td {
	border: #acc7a5 1px solid;
/* 	padding-left: 2px; */
}
#dataBlock legend {
	color: blue;
}

#queryBlock {
	position: relative;
   width: 100%;
	margin-left: auto;
	margin-right: auto;
}
#queryBlock table {
	/* background-color: white; */ /*#EFEFEF, F5F5F5,#EEEECC;*/
   /* background-color: hsla(220,80%,80%,0.2); */
   background-color: rgba(163,190,245,0.2);
	margin-left: 20px;
	padding-top: 0.2em;
	padding-bottom: 0.2em;
	padding-left: 1.2em;
	padding-right: 0.6em;
	color: Black; /*Navy 006AD5; steelblue;*/
	text-align: left;
	white-space: nowrap;
	border-spacing: 1px;
  FONT-FAMILY: "Consolas", "Microsoft Sans Serif" , "Arial", "新細明體", "DFKai-SB";
  FONT-SIZE:  12pt;
}
#queryBlock td {
	border: #acc7a5 1px solid;
/* 	padding-left: 2px; */
}

#data2Block {
	position: relative;
   width: 100%;
	margin-left: auto;
	margin-right: auto;
}
#data2Block table {
   background-color: rgba(173, 235, 235,0.2);
	margin-left: 20px;
	padding-top: 0.2em;
	padding-bottom: 0.2em;
	padding-left: 1.2em;
	padding-right: 0.6em;
	color: Navy; /*006AD5; steelblue;*/
	text-align: left;
	white-space: nowrap;
	border-spacing: 1px;
  FONT-FAMILY: "Consolas", "Microsoft Sans Serif" , "Arial", "新細明體", "DFKai-SB";
  FONT-SIZE:  12pt;
}
#data2Block td {
	border: #acc7a5 1px solid;
}
#data2Block legend {
	color: blue;
}

.disScreen {
  z-index: 999;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: none;
  position: absolute;
  background-color: gray;
  opacity: 0.4;
  filter: alpha(opacity = 50);
}
.popup1 {
  z-index: 999;
  display: none;
  position: absolute;
}
#popup2 {
  border-style: outset;
  position: absolute;
  background-color: #F2EEEA;
  box-shadow:inset 0px 0px 50px #000000;
}