th
{
  BORDER-RIGHT:  silver 2px inset;
  BORDER-TOP:    white  2px outset;
  BORDER-LEFT:   white  2px outset;
  BORDER-BOTTOM: silver 2px inset;
  BACKGROUND-COLOR: #DBFA94;
  FONT-FAMILY:"標楷體",DFKai-SB;
  FONT-SIZE: 18pt;
  TEXT-ALIGN: RIGHT;
  font-weight: normal;
  color:#333300;
  VALIGN:MIDDLE;
  background-color: #ffcc66;
  background: linear-gradient(to right, #e0e0d1, #ffffcc);
  box-shadow: 2px 2px 2px gray;
}

th.unsortable {
	BORDER-RIGHT:  silver 2px inset;
  BORDER-TOP:    white  2px outset;
  BORDER-LEFT:   white  2px outset;
  BORDER-BOTTOM: silver 2px inset;
  BACKGROUND-COLOR: #DBFA94;
  FONT-FAMILY:"標楷體",DFKai-SB;
  FONT-SIZE: 18px;
  TEXT-ALIGN: CENTER;
  font-weight: normal;
  color:white;
  VALIGN:MIDDLE;
  background-color: #ffcc66;
  background: linear-gradient(to bottom, #003366, #ffffcc);
  box-shadow: 2px 2px 2px gray;
}

th.sortnumber {
	BORDER-RIGHT:  silver 2px inset;
  BORDER-TOP:    white  2px outset;
  BORDER-LEFT:   white  2px outset;
  BORDER-BOTTOM: silver 2px inset;
  BACKGROUND-COLOR: #DBFA94;
  FONT-FAMILY:"標楷體",DFKai-SB;
  FONT-SIZE: 18px;
  TEXT-ALIGN: CENTER;
  font-weight: normal;
  color:white;
  VALIGN:MIDDLE;
  background-color: #ffcc66;
  background: linear-gradient(to bottom, #003366, #ffffcc);
  box-shadow: 2px 2px 2px gray;
}

th.fixTitle
{
  position:absolute;
  background-color: #003300;
  background: linear-gradient(to bottom, #003366, #ccff33);
  box-shadow: 2px 2px 2px gray;
  color:white;

}

td.fixColumn
{
  position:absolute;
  BACKGROUND-COLOR: #fff2cc;
  BORDER-RIGHT: lightgrey 1px outset;
  BORDER-TOP:   white 1px outset;
  BORDER-LEFT:  white 1px outset;
  BORDER-BOTTOM: lightgrey 1px outset;
  FONT-FAMILY: "Arial", "Helvetica", "sans-serif";
  FONT-SIZE:  15px;
  TEXT-ALIGN: CENTER;
  color:blue;
  bordercolorlight:"#000000";
  bordercolordark:"#eeeeee";
}

.ListTitle2
{
  BORDER-RIGHT:  silver 2px inset;
  BORDER-TOP:    white  2px outset;
  BORDER-LEFT:   white  2px outset;
  BORDER-BOTTOM: silver 2px inset;
  BACKGROUND-COLOR: #DBFA94;
  FONT-FAMILY:"標楷體",DFKai-SB;
  FONT-SIZE: 16pt;
  TEXT-ALIGN: CENTER;
  font-weight: normal;
  color:white;
  VALIGN:MIDDLE;
  background-color: #003300;
  background: linear-gradient(to bottom, #003300, #ccff33);
  box-shadow: 2px 2px 2px gray;
}

.DescTitle
{
  TEXT-ALIGN: center;
  color:blue;
  font-weight: normal;
  background: url(../images/img07.gif);
}

.td_right
{
  BORDER-RIGHT: lightgrey 1px outset;
  BORDER-TOP:   white 1px outset;
  BORDER-LEFT:  white 1px outset;
  BORDER-BOTTOM: lightgrey 1px outset;
  FONT-FAMILY: "Arial", "Helvetica", "sans-serif";
  FONT-SIZE:  15px;
  TEXT-ALIGN: RIGHT;
  color:blue;
  bordercolorlight:"#000000";
  bordercolordark:"#eeeeee";
}

.td_center
{
  BORDER-RIGHT: lightgrey 1px outset;
  BORDER-TOP:   white 1px outset;
  BORDER-LEFT:  white 1px outset;
  BORDER-BOTTOM: lightgrey 1px outset;
  FONT-FAMILY: "Arial", "Helvetica", "sans-serif";
  FONT-SIZE:  15px;
  TEXT-ALIGN: CENTER;
  color:blue;
  bordercolorlight:"#000000";
  bordercolordark:"#eeeeee";
}

.td_left
{
  BORDER-RIGHT: lightgrey 1px outset;
  BORDER-TOP:   white 1px outset;
  BORDER-LEFT:  white 1px outset;
  BORDER-BOTTOM: lightgrey 1px outset;
  FONT-FAMILY: "Arial", "Helvetica", "sans-serif";
  FONT-SIZE:  15px;
  TEXT-ALIGN: LEFT;
  color:blue;
  bordercolorlight:"#000000";
  bordercolordark:"#eeeeee";
}

.td_pink
{
  BORDER-RIGHT: lightgrey 1px outset;
  BORDER-TOP:   white 1px outset;
  BORDER-LEFT:  white 1px outset;
  BORDER-BOTTOM: lightgrey 1px outset;
  BACKGROUND-COLOR: #FFD2FF;
  FONT-FAMILY: "Arial", "Helvetica", "sans-serif";
  FONT-SIZE:  15px;
  TEXT-ALIGN: center;
  color:blue;
  bordercolorlight:"#000000";
  bordercolordark:"#eeeeee";
}

.none
{
  BORDER-RIGHT: lightgrey 0px outset;
  BORDER-TOP:   white 0px outset;
  BORDER-LEFT:  white 0px outset;
  BORDER-BOTTOM: lightgrey 0px outset;
  BACKGROUND-COLOR: #F9FCB8;
  FONT-FAMILY: "Arial", "Helvetica", "sans-serif";
  FONT-SIZE:  15px;
  TEXT-ALIGN: left;
  color:blue;
  bordercolorlight:"#000000";
  bordercolordark:"#eeeeee";
}

.EditData
{
  BORDER-RIGHT:  lightgrey 1px outset;
  BORDER-TOP:    white 1px outset;
  BORDER-LEFT:   white 1px outset;
  BORDER-BOTTOM: lightgrey 1px outset;
  FONT-FAMILY: "Arial", "Helvetica", "sans-serif";
  FONT-SIZE: 14px;
  color: blue;
  TEXT-ALIGN: left;
  background-color:rgba(255, 255, 204,0.3);
}

.EditData2
{
  BACKGROUND-COLOR: white;
  FONT-SIZE: 14px;
  color: black;
  TEXT-ALIGN: left;
}

.EditDataR
{
  BORDER-RIGHT:  lightgrey 1px outset;
  BORDER-TOP:    white 1px outset;
  BORDER-LEFT:   white 1px outset;
  BORDER-BOTTOM: lightgrey 1px outset;
  BACKGROUND-COLOR: #F9FCB8;
  FONT-FAMILY: "Arial", "Helvetica", "sans-serif";
  FONT-SIZE: 14px;
  TEXT-ALIGN: right;
  bordercolorlight:"#000000";
  bordercolordark:"#eeeeee";
}

.field_style {
	background-color:#FFFFE1;
	font-size:13px; color:blue;
	BORDER-TOP:3px inset;
	BORDER-LEFT:3px inset;  
	border-color: #ffffff #ffffff;
	background-color: #ffcc66;
  background: linear-gradient(to right, #e9ffff, #ffffff);
}

.field_style2 {
	BORDER-RIGHT: #999999 1px solid;
	BORDER-TOP: #999999 1px solid;
	BORDER-LEFT: #999999 1px solid;
	BORDER-BOTTOM: #999999 1px solid;
	font-family: Helvetica;
	font-size: 9pt; color:blue;
	padding-left:4px;
	background-image:url(../images/inpbg.gif);
	color:#0044cc;
}

.watermark {
	background-image:none;
}

.field_style3 {
	background-color:#FFFFE1;
	font-size:14px; color:blue;
	font-weight: bold;
	border:2px inset;
}

.btQuery {
	background-color:#E0FFA3;	FONT-SIZE:14px; height:30;	width:47; cursor:hand;
}

.btQuery2 {
	background-color:#E0FFA3;	FONT-SIZE:14px; height:25;	width:47; cursor:hand;
}

.btAdd {
	background-color:#C2E0FF;	FONT-SIZE:14px; height:30;	width:47; cursor:hand;
}

.btAdd2 {
	background-color:#C2E0FF;	FONT-SIZE:14px; height:25;	width:47; cursor:hand;
}

.btUpdate {
	background-color:#E6E680;	FONT-SIZE:14px; height:30;	width:47; cursor:hand;
}

.btUpdate2 {
	background-color:#E6E680;	FONT-SIZE:14px; height:25;	width:47; cursor:hand;
}

.btDelete {
	background-color:#FFBD5C;	FONT-SIZE:14px; height:30;	width:47; cursor:hand;
}

.btDelete2 {
	background-color:#FFBD5C;	FONT-SIZE:14px; height:25;	width:47; cursor:hand;
}

.btConfirm {
	background-color:#F8F9FE;	FONT-SIZE:14px; height:30;	width:47; cursor:hand;
}

.btConfirm2 {
	background-color:#F8F9FE;	FONT-SIZE:14px; height:25;	width:47; cursor:hand;
}

.btBrowse {
	background-color:#FFCCB2;	FONT-SIZE:14px; height:30;	width:47; cursor:hand;
}

.btBrowse2 {
	background-color:#FFCCB2;	FONT-SIZE:14px; height:25;	width:47; cursor:hand;
}

.btClear {
	background-color:#C0D8C0;	FONT-SIZE:14px; height:30;	width:47; cursor:hand;
}

.btClear2 {
	background-color:#C0D8C0;	FONT-SIZE:14px; height:25;	width:47; cursor:hand;
}

.help_style {
  FONT-FAMILY: "標楷體", "Helvetica", "sans-serif";
  FONT-SIZE: 36px;
  color: blue;
  TEXT-ALIGN: left;
}

#buttonDiv a {
	background: url(../images/sumit_dark.gif);
	background-repeat:no-repeat;
	padding-left:25px;
	padding-top:5px;
	font-family: 細明體;
	font-weight: normal;
	font-size: 15px;
	color: #FFFFFF;
}

#buttonDiv a:hover {
	background: url(../images/sumit_light.gif);
	background-repeat:no-repeat;
	color: #FFFFFF;
}

.disScreen {
  z-index: 999;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: none;
  position: absolute;
  background-color: gray;
  opacity: 0.4;
  filter: alpha(opacity = 50);
}
.popup1 {
  z-index: 999;
  display: none;
  position: absolute;
}
#popup2 {
  border-style: outset;
  position: absolute;
  background-color: #F2EEEA;
  box-shadow:inset 0px 0px 50px #000000;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    color: white;
    background-color: #000099;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 150%;
    left: 50%;
    margin-left: -60px;
    margin-bottom: 15px;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #000099 transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}





