
th
{
  BORDER-RIGHT:  silver 2px inset;
  BORDER-TOP:    white  2px outset;
  BORDER-LEFT:   white  2px outset;
  BORDER-BOTTOM: silver 2px inset;
  BACKGROUND-COLOR: #DBFA94;
  FONT-FAMILY:"標楷體";
  FONT-SIZE: 18px;
  TEXT-ALIGN: RIGHT;
  font-weight: normal;
  color:black;
  VALIGN:MIDDLE;
  background: url(../images/img09.gif);
}

th.unsortable {
	TEXT-ALIGN: center;
  color:white;
	background: url(../images/img03.gif);
}

th.sortnumber {
	TEXT-ALIGN: center;
	color:white;
	background: url(../images/img03.gif);
}

.ListTitle2
{
  TEXT-ALIGN: center;
  color:white;
  font-weight: normal;
  background: url(../images/img03.gif);
}

.DescTitle
{
  TEXT-ALIGN: center;
  color:blue;
  font-weight: normal;
  background: url(../images/img07.gif);
}

.td_right
{
  BORDER-RIGHT: lightgrey 1px outset;
  BORDER-TOP:   white 1px outset;
  BORDER-LEFT:  white 1px outset;
  BORDER-BOTTOM: lightgrey 1px outset;
  FONT-FAMILY: "Arial", "Helvetica", "sans-serif";
  FONT-SIZE:  15px;
  TEXT-ALIGN: RIGHT;
  color:blue;
  bordercolorlight:"#000000";
  bordercolordark:"#eeeeee";
}

.td_center
{
  BORDER-RIGHT: lightgrey 1px outset;
  BORDER-TOP:   white 1px outset;
  BORDER-LEFT:  white 1px outset;
  BORDER-BOTTOM: lightgrey 1px outset;
  FONT-FAMILY: "Arial", "Helvetica", "sans-serif";
  FONT-SIZE:  15px;
  TEXT-ALIGN: CENTER;
  color:blue;
  bordercolorlight:"#000000";
  bordercolordark:"#eeeeee";
}

.td_left
{
  BORDER-RIGHT: lightgrey 1px outset;
  BORDER-TOP:   white 1px outset;
  BORDER-LEFT:  white 1px outset;
  BORDER-BOTTOM: lightgrey 1px outset;
  FONT-FAMILY: "Arial", "Helvetica", "sans-serif";
  FONT-SIZE:  15px;
  TEXT-ALIGN: LEFT;
  color:blue;
  bordercolorlight:"#000000";
  bordercolordark:"#eeeeee";
}

.td_pink
{
  BORDER-RIGHT: lightgrey 1px outset;
  BORDER-TOP:   white 1px outset;
  BORDER-LEFT:  white 1px outset;
  BORDER-BOTTOM: lightgrey 1px outset;
  BACKGROUND-COLOR: #FFD2FF;
  FONT-FAMILY: "Arial", "Helvetica", "sans-serif";
  FONT-SIZE:  15px;
  TEXT-ALIGN: center;
  color:blue;
  bordercolorlight:"#000000";
  bordercolordark:"#eeeeee";
}

.none
{
  BORDER-RIGHT: lightgrey 0px outset;
  BORDER-TOP:   white 0px outset;
  BORDER-LEFT:  white 0px outset;
  BORDER-BOTTOM: lightgrey 0px outset;
  BACKGROUND-COLOR: #F9FCB8;
  FONT-FAMILY: "Arial", "Helvetica", "sans-serif";
  FONT-SIZE:  15px;
  TEXT-ALIGN: left;
  color:blue;
  bordercolorlight:"#000000";
  bordercolordark:"#eeeeee";
}

.EditData
{
  BORDER-RIGHT:  lightgrey 1px outset;
  BORDER-TOP:    white 1px outset;
  BORDER-LEFT:   white 1px outset;
  BORDER-BOTTOM: lightgrey 1px outset;
  BACKGROUND-COLOR: #FFFFCC;
  FONT-FAMILY: "Arial", "Helvetica", "sans-serif";
  FONT-SIZE: 14px;
  color: blue;
  TEXT-ALIGN: left;
}

.EditData2
{
  BACKGROUND-COLOR: white;
  FONT-SIZE: 14px;
  color: black;
  TEXT-ALIGN: left;
}

.EditDataR
{
  BORDER-RIGHT:  lightgrey 1px outset;
  BORDER-TOP:    white 1px outset;
  BORDER-LEFT:   white 1px outset;
  BORDER-BOTTOM: lightgrey 1px outset;
  BACKGROUND-COLOR: #F9FCB8;
  FONT-FAMILY: "Arial", "Helvetica", "sans-serif";
  FONT-SIZE: 14px;
  TEXT-ALIGN: right;
  bordercolorlight:"#000000";
  bordercolordark:"#eeeeee";
}

.field_style {
	background-color:#FBFFFB;
	font-size:12px; color:blue;
	border:2px inset;
}

.field_style2 {
	BORDER-RIGHT: #999999 1px solid;
	BORDER-TOP: #999999 1px solid;
	BORDER-LEFT: #999999 1px solid;
	BORDER-BOTTOM: #999999 1px solid;
	font-family: Helvetica;
	font-size: 9pt; color:blue;
	padding-left:4px;
	background-image:url(../images/inpbg.gif);
	color:#0044cc;
}

.field_style3 {
	background-color:#FFFFE1;
	font-size:14px; color:blue;
	font-weight: bold;
	border:2px inset;
}

.btQuery {
	background-color:#E0FFA3;	height:30;	width:45; cursor:hand; 
}

.btQuery2 {
	background-color:#E0FFA3;	height:25;	width:45; cursor:hand; 
}

.btAdd {
	background-color:#C2E0FF;	height:30;	width:45; cursor:hand;
}

.btAdd2 {
	background-color:#C2E0FF;	height:25;	width:45; cursor:hand;
}

.btUpdate {
	background-color:#E6E680;	height:30;	width:45; cursor:hand;
}

.btUpdate2 {
	background-color:#E6E680;	height:25;	width:45; cursor:hand;
}

.btDelete {
	background-color:#FFBD5C;	height:30;	width:45; cursor:hand;
}

.btDelete2 {
	background-color:#FFBD5C;	height:25;	width:45; cursor:hand;
}

.btConfirm {
	background-color:#E0C2E0;	height:30;	width:45; cursor:hand;
}

.btConfirm2 {
	background-color:#E0C2E0;	height:25;	width:45; cursor:hand;
}

.btBrowse {
	background-color:#FFCCB2;	height:30;	width:45; cursor:hand;
}

.btBrowse2 {
	background-color:#FFCCB2;	height:25;	width:45; cursor:hand;
}

.btClear {
	background-color:#C0D8C0;	height:30;	width:45; cursor:hand;
}

.btClear2 {
	background-color:#C0D8C0;	height:25;	width:45; cursor:hand;
}


.help_style {
  FONT-FAMILY: "標楷體", "Helvetica", "sans-serif"; 
  FONT-SIZE: 24px;
  color: blue;
  TEXT-ALIGN: left;
}

#buttonDiv a {
	background: url(../images/sumit_dark.gif);
	background-repeat:no-repeat;
	padding-left:25px;
	padding-top:5px;
	font-family: 細明體;
	font-weight: normal;
	font-size: 15px;
	color: #FFFFFF;
}

#buttonDiv a:hover {
	background: url(../images/sumit_light.gif);
	background-repeat:no-repeat;
	color: #FFFFFF;
}







